/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 27, 2015, 10:58:35 AM
    Author     : jishshi
*/
body {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif,FontA; }

nav.navbar {
  color: #000; }
  nav.navbar a {
    font-size: 2rem; }
  nav.navbar .nav-menu {
    display: none; }
    nav.navbar .nav-menu > div {
      padding-top: 10px; }
    nav.navbar .nav-menu .col-lg-4 {
      margin-bottom: 10px; }
    nav.navbar .nav-menu a {
      position: relative;
      vertical-align: bottom; }
      nav.navbar .nav-menu a img {
        z-index: 2;
        width: 100%; }
        nav.navbar .nav-menu a img:hover {
          outline: solid 2px #eceef1; }
      nav.navbar .nav-menu a h4 {
        position: absolute;
        left: 0;
        bottom: -2px;
        background: rgba(0, 0, 0, 0.65);
        padding: .5em 0.8em;
        margin: 0;
        width: 100%; }

.row div {
  -webkit-transition: width 0.8s ease, margin 0.8s ease;
  -moz-transition: width 0.8s ease, margin 0.8s ease;
  -o-transition: width 0.8s ease, margin 0.8s ease;
  transition: width 0.8s ease, margin 0.8s ease; }

.cd-close {
  z-index: 2;
  position: fixed;
  top: 80px;
  right: 5%;
  background: url("../img/close.svg") no-repeat center center;
  background-size: 44px;
  width: 44px;
  height: 44px; }
  .cd-close:hover {
    background-size: 55px; }

.view-container {
  background: white; }

.home-container #academy-summary {
  background-image: url("../img/academy-bp.png"); }
.home-container #coach-summary {
  background-image: url("../img/coach-bp.png"); }
.home-container #academy-summary, .home-container #coach-summary {
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.5s, height 0.4s;
  transition-timing-function: ease;
  min-height: 600px; }
.home-container > div {
  cursor: pointer;
  padding: 0;
  height: 100vh; }
  .home-container > div img.img-circle {
    width: 150px; }
  .home-container > div .intro-text {
    padding-top: 350px;
    height: 100vh;
    background-color: RGBA(0, 0, 0, 0.6);
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: linear; }
    .home-container > div .intro-text p {
      color: #fff;
      font-size: 15px;
      opacity: 0.75; }
    .home-container > div .intro-text .fa-close {
      color: white;
      position: fixed;
      right: 5%;
      top: 100px; }
    .home-container > div .intro-text .intro-heading {
      margin: 0;
      letter-spacing: 5px;
      color: #ffffff;
      font-family: Kaiti ,STXingkai;
      margin-top: -30px; }

footer .contact-info-group {
  padding: 20px;
  background-color: #333; }
  footer .contact-info-group img {
    height: 42px; }
  footer .contact-info-group .contact-info {
    margin: 5px 10px;
    font-size: 1.2vw;
    white-space: nowrap;
    color: #000; }
    footer .contact-info-group .contact-info .fa {
      font-family: Montserrat,FontAwesome; }
      footer .contact-info-group .contact-info .fa:before {
        margin-right: 1rem; }
footer .copyright-info {
  padding: 5px;
  font-size: 15px;
  margin-bottom: -25px; }

.btn-transparent-white {
  color: #eceef1;
  border-color: #eceef1;
  background-color: RGBA(255, 255, 255, 0.2);
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: linear; }
  .btn-transparent-white:hover {
    color: #eceef1;
    background-color: RGBA(255, 255, 255, 0); }

.img-wrapper {
  display: inline-block;
  overflow: hidden; }

.img-wrapper img {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  vertical-align: middle; }

.img-wrapper img:hover {
  transform: scale(1.3);
  -ms-transform: scale(1.3);
  /* IE 9 */
  -moz-transform: scale(1.3);
  /* Firefox */
  -webkit-transform: scale(1.3);
  /* Safari and Chrome */
  -o-transform: scale(1.3);
  /* Opera */ }

.side-line {
  font-size: 42px; }
  .side-line:before, .side-line:after {
    background-color: rgba(254, 209, 54, 0.9);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 25%;
    margin: 0 10px; }

.light {
  malign-bottom: 0; }
  .light:after {
    content: "";
    display: inline-block;
    background: rgba(195, 17, 46, 0.9);
    position: absolute;
    bottom: -5px;
    left: 25%;
    height: 2px;
    width: 50%;
    opacity: 1; }

.number-circle {
  background: transparent;
  border: 1px solid #676E76;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: inline-block;
  font-weight: bold;
  line-height: 1.9em;
  margin-right: 5px;
  text-align: center;
  width: 2em;
  font-size: 18px; }

.bg-stacked:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -50px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -25px;
  border-width: 25px;
  border-style: solid;
  border-color: #eceef1 transparent transparent; }

.media-body li {
  margin: 5px 0;
  font-size: 19px; }
.media-body p {
  font-size: 18px; }
.media-body p.lead {
  font-size: 21px; }
