/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 27, 2015, 10:58:35 AM
    Author     : jishshi
*/


body {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif,FontA;
}

nav.navbar {
    color:#000;

    a {
        font-size: 2rem;
    }

    .nav-menu {
        /*display: none;*/

        >div {
            padding-top: 10px;
        }

        .col-lg-4 {
            margin-bottom:10px;
        }

        a {

            img {
                z-index: 2;
                width:100%;
                &:hover {
                    outline:solid 2px #eceef1;
                }
            }

            h4 {
                position: absolute;
                bottom: 0;
                background: rgba(0,0,0,.65);
                padding: 8px 10px;
                margin:0;
                width: calc(100% - 30px);
            }
        }
    }
}

.nav-slide {
    margin: 10px 100px;
    position: relative;
    bottom:100px;

    .col-lg-4 {
        margin: 10px 0;
    }

    a {

        img {
            z-index: 2;
            width: 100%;
            height: 180px;

            &:hover {
                outline:solid 2px #eceef1;
            }
        }

        h4 {
            text-align: center;
            color:#fff;
            position: absolute;
            bottom: 25%;
            background: rgba(0,0,0,.65);
            padding: .5em 0.8em;
            margin:0;
            right:15px;
        }
    }
}

.cd-close {
    z-index: 2;
    position: fixed;
    top: 120px;
    right: 20%;
    background: url("../img/close.svg") no-repeat center center;
    background-size: 44px;
    width: 44px;
    height: 44px;

    &:hover {
        background-size: 55px;
    }
}


.view-container {
    background:white;
    padding: 0;
}

.home-container {

    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    background-image: url('../img/home-bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;

    #academy-summary{
        background-image:url('../img/academy-bp.png');
    }

    #coach-summary{
        top:-15px;
        background-image:url('../img/coach-bp.png');
        background-position: 30% 80px;
    }

    .rotated {
        transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
        -moz-transform: rotate(-2deg);
    }

    #academy-summary, #coach-summary {
        content:'';
        padding: 0;
        background-repeat: no-repeat; 
        background-size: cover;
        transition: opacity 0.5s, height 0.4s;
        transition-timing-function: ease;
        min-height: 600px;
        margin-bottom: 50px;

        p {
            margin: 0 5%;
        }
    }

    > div{
        cursor: pointer;
        padding:0;

        img.img-circle{
            width:150px
        }

        .intro-text {
            opacity: 0.5;
            padding-top: 200px;
            background-color: RGBA(0,0,0,.6);
            transition-property: background;
            transition-duration: 0.5s;
            transition-timing-function: linear;

            p {
                color:#fff;
                font-size: 15px;
                opacity:0.75;
            }

            .fa-close {
                color: white;
                position: fixed;
                right: 5%;
                top:100px;
            }

            .intro-heading {
                margin:0;
                letter-spacing: 5px;
                color:#ffffff;
                font-family: Kaiti ,STXingkai;
                margin-top:  -15px;
            }

        }
    }
}


footer {
    .contact-info-group {
        padding:20px;
        background-color: #333;
        img {
            height: 42px;
        }

        .contact-info {
            margin:5px 10px;
            font-size: 1.2vw;
            white-space: nowrap;
            color:#000;

            .fa {
                font-family: Montserrat,FontAwesome;

                &:before {
                    margin-right: 1rem;
                }
            }
        }
    }


    .copyright-info {
        padding: 5px;
        font-size: 15px;
        margin-bottom: -25px;
    }
}


.btn-transparent-white {
    color: #eceef1;
    border-color: #eceef1;
    background-color: RGBA(255,255,255,.2);
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: linear;

    &:hover {
        color: #eceef1;
        background-color: RGBA(255,255,255,0);
    }
}


.img-wrapper {
    display: inline-block;
    overflow: hidden;
}

.img-wrapper img {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    vertical-align: middle;
}

.img-wrapper img:hover {
    transform:scale(1.3);
    -ms-transform:scale(1.3); /* IE 9 */
    -moz-transform:scale(1.3); /* Firefox */
    -webkit-transform:scale(1.3); /* Safari and Chrome */
    -o-transform:scale(1.3); /* Opera */
}

.side-line{
    font-size: 42px;
    &:before , &:after {
        background-color:rgba(254, 209, 54, 0.9);
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 25%;
        margin:0 10px;
    }
}

.light{
    malign-bottom:0;

    &:after{
        content: "";
        display: inline-block;
        background: rgba(195, 17, 46, 0.9);
        position: absolute;
        bottom: -5px;
        left: 25%;
        height: 2px;
        width: 50%;
        opacity: 1;
    }

}

.number-circle{
    background: transparent;
    border: 1px solid #000;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    font-weight: bold;
    line-height: 1.9em;
    margin-right: 5px;
    text-align: center;
    width: 2em;
    font-size: 18px;
}

.bg-stacked-black,.bg-stacked-yellow,.bg-stacked{
    padding:25px 0;

    .media-body {
        padding: 20px;
    }

    &:before{
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        margin-top: -25px;
        width: 0;
        height: 0;
        margin-left: -25px;
        border-width: 25px;
        border-style: solid;
        border-color: #fff transparent transparent
    }

    >content {
        position:relative;
    }
}

.bg-stacked-yellow {
    color:#000;
    border-color: #000;
    background:#fb0;
}

.bg-stacked-black {
    color: #eee;
    border-color: #eee;
    background:#000;
}



.media-body {

    li {
        margin:5px 0;
        font-size: 19px;
    }

    p {
        font-size:18px;
    }

    p.lead{
        font-size:21px;
    }

}

.img-header {
    margin-top:-40px;
    height: 200px;
    background-repeat: no-repeat;
    background-size:cover;
}

.slick-prev:before, .slick-next:before { 
    color:#fff !important;
}

#clubs-slick {
    div {
        text-align: center;
    }
    img{
        vertical-align: middle;
    }
}


.col-lg-12.text-center {
    margin-top: 50px;
}