<section id="about-sections">
    <div class="container section">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">关于我们</h2>
                <h3 class="section-subheading text-muted"><footer> —— 创造更好的球员</footer></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>20年前</h4>
                                <h4 class="subheading">起源回溯</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">一群大学的研究人员和职业足球教练为了研究发展一种互动式的足球训练方法，创建了一个研究网络方法，既适用于学习阶段，又适用于技术增强阶段。</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2007-2008</h4>
                                <h4 class="subheading">崛起腾飞</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">007年进行了整合，当时通过球员、球队、教练和比赛的实践，他们的方法已经取得了良好的效果。</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2009 - </h4>
                                <h4 class="subheading">臻于至善</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Alberto Rudé（Vic大学）继续使用这个方法，并把该方法带入Sport Networking集团，并给该项目取了一个名副其实的名称：MBP（Making Better Players）—— 培养更好的球员。</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>未完待续
                                <br>...
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer" footer> </div>
</section>
<script>
    $('#about-sections').fullpage({
        fixedElements: 'header',
        autoScrolling: false,
        sectionsColor: ['#fff', '#fff', '#fff']
    });
</script>