<section id="team">
    <div class="section">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading side-line">明星教练</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="container">
            <div class="col-sm-3" ng-repeat="i in []|range:4">
                <div class="team-member">
                    <img src="img/cases/coach{{$index + 1}}.png" class="img-responsive img-circle" alt="">
                    <h4 ng-bind="coachNames[{{$index}}]"></h4>
                    <p class="text-muted">Lead Designer</p>
                    <ul class="list-inline social-buttons hidden">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div  class="section">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading side-line">媒体报道</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="container" id="media-slider" style="margin-top: -75px">
            <a href="javascript:void(0)">
                <img src='img/cases/media1.png' alt=""/>
            </a>
            <a href="javascript:void(0)">
                <img src='img/cases/media2.png' alt=""/>
            </a>
            <a href="javascript:void(0)">
                <img src='img/cases/media3.png' alt=""/>
            </a>
        </div>
    </div>

    <div class="section">
        <div class="row" style="margin-top: 80px;">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading side-line">顶级俱乐部</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="container bg-stacked" id="clubs-slick" style=" margin-top: 50px;margin-bottom: 50px;background: #fff">
            <div class="col-sm-3" >
                <img src="img/clubs/escudo1.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo2.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo3.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo4.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo5.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo6.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo7.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo8.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo9.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo10.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo11.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo12.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo13.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo14.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo15.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo16.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo17.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo18.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo19.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo20.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo21.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo22.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo23.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo24.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo25.jpg" class="img-responsive"/>
            </div>
            <div class="col-sm-3" >
                <img src="img/clubs/escudo26.jpg" class="img-responsive"/>
            </div>
        </div>
        <div footer></div>
    </div>

</section>
<script>
            $('#clubs-slick').slick({
                dots: true,
                arrows: false,
                slidesToShow: 7,
                slidesToScroll: 2,
                autoplay: true,
                autoplaySpeed: 1000
            });

            $('#media-slider').coinslider({height: 600, width: 800, effect: 'straight', navigation: false, delay: 2000});
            $('#team').fullpage();

</script>